@{
    ViewData["Title"] = "O mně";
}


<img src="~/Images/Snímek obrazovky 2023-11-07 141312.png" class="avatar" alt="MatPol" />
<p>
   Vítám Vás na mém prvním webu.
</p>

<p>
    Jmenuji se Matěj Polanský a je mi 31 let.
    Kontaktovat mě můžete na <a asp-controller="Home" asp-action="Contact">kontaktní stránce</a>.
</p>

<p>
   Mezi mé koníčky patří sport (Basketbal, běh, posilovna, střelba), četba (Nietzsche, Pratchett, Coelho).
</p>


<p class="tlacitko-odstavec">
    <a asp-controller="Home" asp-action="References" class="reference-tlacitko">Moje reference</a>
</p>
<div class="cistic"></div>

