@{
    ViewData["Title"] = "Dovednosti";
}

<table id="dovednosti">
    <tr class="centrovany">
        <td>
            <img src="~/Images/html.png" alt="HTML" />
        </td>
        <td>
            <img src="~/Images/java.png" alt="Java" />
        </td>
        <td>
            <img src="~/Images/pascal.png" alt="Pascal" />
        </td>
    </tr>
    <tr>
        <td>
            <h2>HTML</h2>
            <p>S HTML začínám a umím vytvořit jednoduché webové stránky, jako jsou tyto.</p>
        </td>
        <td>
            <h2>Java</h2>
            <p>Javu se učím z tutoriálů na itnetwork.cz. Dokáži tvořit jednoduché konzolové i okenní aplikace a programovat objektově.</p>
        </td>
        <td>
            <h2>Pascal</h2>
            <p>Pascal nás učí ve škole, ale raději se učím moderní jazyky.</p>
        </td>
    </tr>
</table>
